
@import url(https://fonts.googleapis.com/css?family=Rum+Raisin);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body { 
	font-family: "Oswald", sans-serif; 
}
//This code defines the font style and everything else about the fonts in the body headers for our headers h1 .....
h1,h3,h4,h5,h6 {
	font-family: "Rum Raisin", sans-serif; 
}


.clear {
    clear :both;
}

.circle {
	font-weight :bold;
	font-style : italic;
	position : relative;
	border-radius: 100%;
	background: #f84342;
	border: 1px solid #F7F7F7;
	width: 80px;
	height: 80px;
	text-align: center;
	color: #FFF;
	font-size: 10px;
	line-height: 16px;  
	cursor: pointer;   
	transform:rotate(11deg);
	-ms-transform:rot ate(11deg); /* IE 9 */
	-webkit-transform :rotate(11deg); /* Opera, Chrome, and Safari */    
	margin-top: 26px;
	margin-bottom: 26px;
}

.slogan {
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	font-style: italic;
	padding-top : 26px;
}

.links {
	padding-top :26px;
}

.links a {
	color :black;
	font-size: 25px;
	border-bottom: 1px solid #dfdfdf;
	font-family: 'nobileregular', sans-serif;
	font-weight:bold;

}

header {
	border-top: 9px solid #222222;
}

hr {
	clear :both;
}
.next-quote {
  color:#f84342;
  font-family: 'nobilemedium_italic', sans-serif;
    font-size:20px;
}
.footer-blurb {
  font-family: "Palatino Linotype", Palatinoro, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align:right;
  font-size:10px;
}
.logo:hover {
	text-decoration :none;
}

.about {
	font-family: "Palatino Linotype", Palatinoro, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  
}

@media (max-width: 750px) {
	.footer-blurb { 
	     text-align: left;
    }
}

.modal {
	font-family: "Palatino Linotype", Palatinoro, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  
}

h2 span {
	color: #dddddd;
	font-family: 'nobileregular', sans-serif;
}

::selection {
  background-color: #f84342;
}

